doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title f2e project
    link(rel="stylesheet", href=`./css/style.css`)
    link(rel="stylesheet", href=`./css/img-preview4.css`)
  body
    article.project 
      .container 
        .title 
          p.en WDD
          p.tw 套件開發
        .detail
          .photo-block
            form(action='/somewhere/to/upload' enctype='multipart/form-data')
              input#imgInp(name='progressbar_img' type='file' accept='image/gif, image/jpeg, image/png')
              img#preview_img(src='#')
    script(type="module" src="./img-preview4/img-preview4.js")
    script(defer src="./js/main.js")